.flex {
	display: flex;
	display: -webkit-flex;
}

.flex-vertical {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direciton: column;
}

.game {
	width: 100%;
	cursor: pointer;
}

.team-names {
	margin: 10px auto 10px 10px;
	width: 90px;
}

.team-name, .game-time, .game-channel  {
	margin-bottom: 5px;
}

/* .game-time, .game-channel {
	margin: 2.5px;
} */

.game-info {
	margin: 10px 10px 10px auto;
	text-align: right;
}